@using WebFront.Services
@inherits LayoutComponentBase

@inject ILoginService LoginService
@inject NavigationManager nv

<div class="page">
    <main>
        <Nav></Nav>
        
        @Body
    </main>
</div>

@code
{
    protected override async Task OnInitializedAsync()
    {
        if (!LoginService.IsLoggedIn() && nv.Uri != nv.BaseUri + "login" && nv.Uri != nv.BaseUri + "RegisterUser")
        {
            nv.NavigateTo("", forceLoad:true);
        }
    }
}
