@inject NavigationManager nv

@if (showNav)
{
    <div class="navbox">
        <div class="btnclose"><button @onclick="ToggleNav">x</button></div>
        <button type="button" @onclick="() => NavigateTo(PollsUrl)" ><span> Polls </span></button>
        <button type="button" @onclick="() => NavigateTo(NewPollUrl)" ><span>New Poll</span></button>
        @if (false)
        {
            <button type="button" @onclick="Loggout"><span>Logg out</span></button>
        }
        else
        {
            <button type="button" @onclick="() => NavigateTo(LoginUrl)" ><span>Logg inn</span></button>
        }

    </div>
}

<button class="navbtn" @onclick="ToggleNav">=</button> 