html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/*Hovers*/
.navbox > a:hover, .navbox > button:hover, .btnclose > button:hover, .navbtn:hover {
    background-color: hsl(0, 0%, 70%);
}

/*Borders*/
.navbtn, .navbox, button, a {
    border: solid black 0.05rem;
    border-radius: 0.2rem;
}
.navbtn {
    margin: 1%;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 0.9rem;
}

.navbox {
    position: absolute;
    width: 40%;
    background-color: hsl(0, 0%, 90%);

    margin-left: 1%;
    margin-top: 1%;
    padding: 1.5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.navbox > a, .navbox > button {
    padding: 5%;
    margin: 2%;

    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    background-color: hsl(0, 0%, 80%);
}

.btnclose{
    width: 100%;
}
.btnclose > button {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 0.8rem;

    float: right;
    position: absolute;
}