@using Microsoft.AspNetCore.Components.Authorization
@using WebFront.Services
@inject NavigationManager nv
@inject AuthenticationStateProvider AuthProvider

<AuthorizeView>
    <Authorized>
        <div class="navbox">
            <div class="btnclose"><button @onclick="ToggleNav">x</button></div>
            <button type="button" @onclick="() => NavigateTo(PollsUrl)"><span>Polls</span></button>
            <button type="button" @onclick="() => NavigateTo(NewPollUrl)"><span>New Poll</span></button>
            <button type="button" @onclick="Logout"><span>Log out (@context.User.Identity?.Name)</span></button>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="navbox">
            <div class="btnclose"><button @onclick="ToggleNav">x</button></div>
            <button type="button" @onclick="() => NavigateTo(LoginUrl)"><span>Log in</span></button>
        </div>
    </NotAuthorized>
</AuthorizeView>

<button class="navbtn" @onclick="ToggleNav">=</button>