
@if (!showNav)
{
    <button class="navbtn" @onclick="ToggleNav">=</button>
}
else
{
    <div class="navbox">
        <div class="btnclose"><button @onclick="ToggleNav">x</button></div>
        <a href=""><span> Polls </span></a>
        <a href="newpoll"><span>New Poll</span></a>
        <button type="button"><span>Logg out</span></button>
    </div>
}