/*Hovers*/
.navbox > a:hover, .navbox > button:hover, .btnclose > button:hover, .navbtn:hover {
    background-color: hsl(0, 0%, 70%);
}

/*Borders*/
.navbtn, .navbox {
    border: solid black 0.05rem;
    border-radius: 0.2rem;
}

/*Rest*/
.navbtn {
    margin: 1%;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 0.8rem;
}

.navbox {
    position: absolute;
    width: 10rem;
    background-color: hsl(0, 0%, 95%);

    margin-left: 1%;
    margin-top: 1%;
    padding: 1%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.navbox > a, .navbox > button {
    padding: 5%;
    margin: 5%;

    text-decoration: none;
    text-align: center;
    font-size: 1.3rem;
    color: black;
    background-color: hsl(0, 0%, 85%);
}

.btnclose{
    width: 100%;
}
.btnclose > button {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 0.8rem;

    float: right;
    position: absolute;
}