@page "/"
@using ClassLibrary
@using WebFront.Services
@inject IPollService PollService

<PageTitle>Home</PageTitle>

<div class="outerbox">
    <h1>Polls</h1>
    
    @foreach (Polls poll in PollList)
    {
        <div class="pollbox">
            <h2>@poll.Question</h2>
            @foreach (VoteOptions vo in poll.Options ?? [])
            {
                <button class="votebtn" type="button" @onclick="() => Vote(vo)" >
                    <span class="votespan"> Votes: @vo.Votes?.Count</span>
                    <span class="votecap">@vo.Caption</span>
                </button>
            }
        </div>
    }
</div>
