@page "/login"
@using Microsoft.AspNetCore.Authorization
@using WebFront.Services
@inject NavigationManager nv
@inject IUserService UserService
@inject IJSRuntime js
@inject ILoginService LoginService
@attribute [AllowAnonymous]

<PageTitle>NewPoll</PageTitle>

<div class="outerbox">
    <h1>Login</h1>
    
    <div class="box">
        <input type="text" placeholder="username" @bind="username" />
        <input type="password" placeholder="password" @bind="password" />
        <button type="button" @onclick="HandleLogin" >Login</button>
        <button type="button" @onclick="ToNewUser">New User</button>
    </div>
</div>