@page "/RegisterUser"
@using Microsoft.AspNetCore.Authorization
@using WebFront.Services
@inject IJSRuntime js
@inject IUserService UserService
@inject NavigationManager nv
@attribute [AllowAnonymous]

<div class="outerbox">
    <h1>RegisterUser</h1>
    
    <div class="box">
        <input type="text" placeholder="username" @bind="Username"/>
        <input type="email" placeholder="Email" @bind="Email">
        <input type="password" placeholder="password" @bind="Password"/>
        <input type="password" placeholder="password" @bind="RepeatPass"/>
        <button type="button" @onclick="HandleRegistration">Login</button>
    </div>
</div>
