@using WebWasm.Services
@inherits LayoutComponentBase

@inject ILoginService LoginService
@inject NavigationManager nv
@inject IJSRuntime JSRuntime

<div class="page">
    <main>
        <Nav></Nav>

        @Body
    </main>
</div>

@code
{
    private bool hasRendered = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !hasRendered)
        {
            hasRendered = true;

            // Get session token from browser localStorage
            string? sessionToken = await JSRuntime.InvokeAsync<string?>("localStorage.getItem", new object[] { "sessionToken" });

            // Check if logged in
            bool isLoggedIn = await LoginService.IsLoggedIn(sessionToken);

            if (!isLoggedIn && nv.Uri != nv.BaseUri + "login" && nv.Uri != nv.BaseUri + "RegisterUser")
            {
                nv.NavigateTo("login", forceLoad:true);
            }
        }
    }
}
