html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
    position: absolute;
    top: 0;
    margin-top: 1%;
    width: 100%;
    text-align: center;
    z-index: -1;
}

.outerbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    border: solid black 0.05rem;
    border-radius: 0.2rem;
    background-color: hsl(0, 0%, 85%);
}
button:hover {
    background-color: hsl(0, 0%, 70%);
}

.box, .box > button, .box > input {
    border: solid black 0.05rem;
    border-radius: 0.2rem;
}

.box {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;

    background-color: hsl(0, 0%, 95%);
    padding: 1%;
}
.box > input, .box > button {
    width: 90%;
    margin: 5%;
}
